# ===== Python =====
__pycache__/
*.py[cod]
*.log
*.pyc
*.pyo
*.pyd
# ===== VirtualEnv =====
venv/
.env
.env.*
.env/

# ===== Django =====
db.sqlite3
db.sqlite3.*
*.sqlite3
*.sqlite3-journal

# migrations 캐시는 제외 (마이그레이션 파일은 커밋됨)
**/__pycache__/

# ===== OS =====
.DS_Store
.vscode/